body {
    background-color: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.apple p {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

p {
    font-size: 30px;
    font-weight: 700;
    color: #4b89da;
    transition: color 300ms ease-in-out;
}

.active {
    font-size: 30px;
    font-weight: 700;
    color: #967ada;
}